html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: url('../images/albert-reed-bkg1.jpg');
    background-size: cover;
    background-color: black; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    box-shadow:inset 0 -120px 300px -40px #000;
}

.hero-unit {
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    width:100%;}

    .hero-unit h1 {
        display: inline-block;
        color: #FFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 35px 60px;
        font-size: 80px;
        letter-spacing: -2px;
        margin: 0;
        line-height: 50px;
        font-family: 'Playfair Display', serif;
        
        /*font-family: 'Marck Script', cursive;*/
        /*font-family: 'Oranienbaum', serif;*/
        
        /*font-family: 'Droid Serif', serif;*/
        /*font-family: 'Oswald', sans-serif;*/
        /*font-family: 'Nothing You Could Do', cursive;*/
        /*font-family: 'Lusitana', serif;*/
        /*font-family: 'Rancho', cursive;*/
        /*font-family: 'Cedarville Cursive', cursive;*/
        /*font-family: 'Italiana', serif;*/
        font-weight: 300;

        opacity: 0;
        -webkit-transition: 1s all;
        transition: 1s all;
    }
    .hero-unit h1.loaded {
        opacity: 1;
    }


ul {
    padding: 0;
    opacity: 0;
    -webkit-transition: .5s all;
    transition: 1s all;}
    
    ul.loaded {opacity: 1}

    ul li {
        display: inline-block;
        list-style: none;
        margin: 0 10px; }
        
        ul li a {
            color: white;
            text-decoration: none;
            font-family: 'Lato', sans-serif; 
            font-size: 20px;
            -webkit-transition: .3s all;
            transition: .3s all;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
        }
        ul li a:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    

@media (max-width: 600px) {
    .hero-unit h1 {
        font-size: 50px; 
    }
    ul li a {
        font-size: 16px;
    }
}

